<nav class='navbar navbar-default'>
	<div classs='navbar-header'>
		<a href="" class='navbar-brand'>Vino Buenisimo</a>
	</div>
</nav>
<div class='container'>
	<div class='row'>
		<div class='col-sm-6'>
			<p>Welcome <%= @email %>!</p>
			<p>You can confirm your account email through the link below:</p>
			<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
		</div>
	</div>
</div>
